<?php
include('menu.htm'); ?>

<div class="innerContainer container-1200">
    <div class="page-header">
    	<h2>
          Oferta <small>Ustawienia ogólne</small>
    	</h2>
        
    </div>
    
    <?php echo Log::wypisz(); ?>
    
    <div class="clearfix"></div>

    <div class="row">
    <form method="post" class="form-horizontal">
    <div class="span8 automargin">
		<fieldset>
  		    <div class="control-group">
     		    <label class="control-label">Partner:</label>
     		    <div class="controls">
     			    <input type="text" name="Edit[name]" placeholder="Partner" style="width:300px" value="<?php echo $model->data['name']; ?>">
     		    </div>
     	    </div>
            <div class="control-group">
     		    <label class="control-label">Kategoria:</label>
     		    <div class="controls">
     			    <select name="Edit[category_id]" style="width:auto">
                        <?php
                        foreach ($categories as $elt): ?>
                        <option value="<?= $elt->id ?>" <?= $model->data['category_id']==$elt->id ? 'selected' : '' ?>><?= $elt->data['name'] ?></option>
                        <?php
                        endforeach; ?>
                    </select>
     		    </div>
     	    </div>
            <div class="control-group">
     		    <label class="control-label">Kolor prowizji:</label>
     		    <div class="controls">
     			    <select name="Edit[commission_color]" style="width:auto">
                        <?php
                        $colors = array(
                            $model::NICKEL_COMMISSION_COLOR => "Nickel",
                            $model::BRONZE_COMMISSION_COLOR => "Bronze",
                            $model::SILVER_COMMISSION_COLOR => "Silver",
                            $model::GOLD_COMMISSION_COLOR => "Gold",
                            $model::PLATINUM_COMMISSION_COLOR => "Platinum",
                        );
                        foreach ($colors as $color_id=>$color_name): ?>
                        <option value="<?= $color_id ?>" <?= $model->data['commission_color']==$color_id ? 'selected' : '' ?>><?= $color_name ?></option>
                        <?php
                        endforeach; ?>
                    </select>
     		    </div>
     	    </div>
            <div class="control-group">
     		    <label class="control-label">Miasta:</label>
     		    <div class="controls">
                    <?php
                    foreach ($cities as $elt): ?>
                    <label>
                        <input type="checkbox" name="Edit[cities_ids][]" value="<?= $elt->id ?>"<?= @in_array($elt->id, $model->data['cities_ids']) ? ' checked="checked"' : '' ?> style="margin:0">
                        <?= $elt->data['name'] ?>
                    </label>
                    <?php
                    endforeach; ?>
     		    </div>
     	    </div>
            <div class="control-group">
     		    <label class="control-label">L. pakietów:</label>
     		    <div class="controls">
     			    <input type="number" name="Edit[no_of_variants]" placeholder="" style="width:50px" min="1" max="10" step="1" value="<?php echo $model->data['no_of_variants']; ?>">
     		    </div>
     	    </div>
            <?php
            if (!empty($model->id)): ?>
            <div class="control-group">
     		    <label class="control-label">Link dla klienta:</label>
     		    <div class="controls">
     			    <input type="text" class="selectOnFocus" style="width:300px" value="<?= $host."/oferta/".$model->data['hash'] ?>">
     		    </div>
     	    </div>
            <?php
            endif; ?>
            <div class="control-group">
			    <div class="controls">
				    <button class="btn btn-primary btn-large" name="save" type="submit">Zapisz</button>&nbsp;&nbsp;&nbsp;<img id="loader" src="/web/admin/images/loader.gif">
			    </div>
		    </div>
        </fieldset>
    </div>
    </form>
</div>
