                <tr <?= $tr_data ?>>
                    <td class="first-cell">
                        <?= $tr_name ?>
                    </td>    
                        <?php
                        for ($i = ($j-1)*5+1; $i<=$limit; $i++): ?>
                    <td class="text-center"> 
                        <!-- standard i z miastami -->
                            <?php
                            if (
                                    $elt->data['duration_type']==$elt::DURATION_ONE_TIME &&
                                    (
                                        $elt->data['type']==$elt::TYPE_STANDARD ||
                                        $elt->data['type']==$elt::TYPE_CITIES
                                    )
                            ): ?>
                        <input type="checkbox" name="Edit[<?= $i ?>][instruments][<?= $elt->id ?>][cities][<?= $city ?>][use]" value="1" <?= $model->data['variant'.$i]['instruments'][$elt->id][cities][$city]['use']==1 ? ' checked=\"checked\"' : '' ?>>
                            <?php
                            endif; ?>
                        
                        <!-- okresowe -->
                            <?php
                            if (
                                $elt->data['duration_type']==$elt::DURATION_IN_DAYS ||
                                $elt->data['duration_type']==$elt::DURATION_IN_WEEKS    
                            ): ?>
        
                                <?php
                                if ($elt->data['data']['canSelectNumberOf']==1):
                                    echo $elt->data['duration_type']==$elt::DURATION_IN_DAYS ? "dni:" : "";
                                    echo $elt->data['duration_type']==$elt::DURATION_IN_WEEKS ? "tyg.:" : "";
                                endif; ?>
                        <input type="number" name="Edit[<?= $i ?>][instruments][<?= $elt->id ?>][cities][<?= $city ?>][duration]" placeholder="" style="width:40px;text-align:center;" min="0" max="30" step="1" value="<?= $model->data['variant'.$i]['instruments'][$elt->id][cities][$city]['duration'] ?>">
                        
                            <?php
                            endif; ?>
                        
                        <!-- z ilością -->
                            <?php
                            if (
                                $elt->data['data']['canSelectNumberOf']==1    
                            ): ?>
        
                        ilość: <input type="number" name="Edit[<?= $i ?>][instruments][<?= $elt->id ?>][cities][<?= $city ?>][numberOf]" placeholder="" style="width:40px;text-align:center;" min="0" max="100" step="1" value="<?= $model->data['variant'.$i]['instruments'][$elt->id][cities][$city]['numberOf'] ?>">
                        
                            <?php
                            endif; ?>
                    </td>
                    <?php
                    endfor; ?>
                </tr>
