<?php
include('menu.htm'); ?>

<div class="innerContainer container-1200">
    <div class="page-header">
    	<h2>
          Oferta <small>instrumenty</small>
    	</h2>
        
    </div>
    
    <?php echo Log::wypisz(); ?>
    
    <div class="clearfix"></div>
    <form method="post" class="form-horizontal">
        <table class="table table-striped table-bordered table-hover">
            <?php
            for ($j = 1; $j<=ceil($model->data['no_of_variants']/5); $j++): 
                $limit = min($j*5, $model->data['no_of_variants']);
            ?>
            <thead>
        	    <tr>
        		    <th style="max-width:30%">Instrument</th>
                    <?php
                    for ($i = ($j-1)*5+1; $i<=$limit; $i++): ?>
                    <th>Pakiet <?= $i ?></th>
                    <?php
                    endfor ?>
        	    </tr>
            </thead>
            <tbody>
        	    <?php 
                foreach($instruments as $instrumentId => $elt): 
                    if ($elt->data['type']==$elt::TYPE_CITIES): ?>
                    
                    <!--
                    dla miast
                    -->
                        <?php
                        if (count($model->data['cities'])==1): 
                            $tr_name = $elt->data['name'];
                            if (
                                $elt->data['duration_type']==$elt::DURATION_IN_DAYS ||
                                $elt->data['duration_type']==$elt::DURATION_IN_WEEKS    
                            ) {
                                $tr_name .= $elt->data['duration_type']==$elt::DURATION_IN_DAYS ? " (Dni:)" : " (Tygodni:) ";
                            }
                            $city = key($model->data['cities']);
                            include('instrument-for-city.htm');
                        
                        elseif(count($model->data['cities'])>1): ?>
                <tr>
                    <td>
                        <a href="javascript:;" class="hiddenSectionToggle" data-section-id="<?= $elt->id ?>">[+]</a>
                        <?= $elt->data['name'] . 
                            ($elt->data['duration_type']==$elt::DURATION_IN_DAYS ? " (Dni:)" : "") .
                            ($elt->data['duration_type']==$elt::DURATION_IN_WEEKS ? " (Tygodni:)" : "") ?>
                    </td>
                            <?php
                            for ($i = ($j-1)*5+1; $i<=$limit; $i++): ?>
                    <td style="text-align:center">
                        <a href="javascript:;" class="hiddenSectionToggle" data-section-id="<?= $elt->id ?>">[+]</a>
                    </td>   
                            <?php
                            endfor; ?>
                </tr>
                            <?php
                            foreach ($model->data['cities'] as $city => $cityModel):
                                $tr_name = $cityModel->data['name'];
                                $tr_data = ' class="city-row hidden-section-' . $elt->id . '"';
                                include('instrument-for-city.htm');
                            endforeach ?>
                        <?php
                        endif; ?>
                    <?php
                    else: ?>
                    
                    <!--
                    normalne
                    -->
                    
        	    <tr>
                    <td>
                        <?= $elt->data['name'].($elt->hasFAQ() ? ' <a href="/faq#'.$elt->data['normalized'].'" class="faqLink" target="_faq">?</a>' : '') ?>
                        <?php
                        if (
                            $elt->data['duration_type']==$elt::DURATION_IN_DAYS ||
                            $elt->data['duration_type']==$elt::DURATION_IN_WEEKS    
                        ): ?>
                        
                        <?= $elt->data['duration_type']==$elt::DURATION_IN_DAYS ? " (Dni:)" : " (Tygodni:) " ?>
                        <?php
                        endif; ?>
                    </td>
                    <?php
                    for ($i = ($j-1)*5+1; $i<=$limit; $i++): ?>
                    <td class="text-center"> 
                        <!-- standard i z miastami -->
                        <?php
                        if (
                                $elt->data['duration_type']==$elt::DURATION_ONE_TIME &&
                                (
                                    $elt->data['type']==$elt::TYPE_STANDARD ||
                                    $elt->data['type']==$elt::TYPE_CITIES
                                )
                        ): ?>
                        <input type="checkbox" name="Edit[<?= $i ?>][instruments][<?= $elt->id ?>][use]" value="1" <?= $model->data['variant'.$i]['instruments'][$elt->id]['use']==1 ? ' checked=\"checked\"' : '' ?>>
                        <?php
                        endif; ?>
                        
                        <!-- wariantowe -->
                        <?php
                        if ($elt->data['type']==$elt::TYPE_VARIANTS): ?>
                        <select name="Edit[<?= $i ?>][instruments][<?= $elt->id ?>][use]" style="width:auto">
                            <option value=""></option>
                            <?php
                            foreach ($elt->data['data']['variants'] as $id=>$w): ?>
                            <option value="<?= $id ?>" <?= $model->data['variant'.$i]['instruments'][$elt->id]['use']===(string)$id ? ' selected' : '' ?>><?= $w['name'] ?></option>
                            <?php
                            endforeach; ?>
                        </select>
                        <?php
                        endif; ?>
                        
                        <!-- okresowe -->
                        <?php
                        if (
                            $elt->data['duration_type']==$elt::DURATION_IN_DAYS ||
                            $elt->data['duration_type']==$elt::DURATION_IN_WEEKS    
                        ): ?>
        
                        <input type="number" name="Edit[<?= $i ?>][instruments][<?= $elt->id ?>][duration]" placeholder="" style="width:40px;text-align:center;" min="0" max="30" step="1" value="<?= $model->data['variant'.$i]['instruments'][$elt->id]['duration'] ?>">
                        
                        <?php
                        endif; ?>
                        
                        <!-- z ilością -->
                        <?php
                        if (
                            $elt->data['data']['canSelectNumberOf']==1    
                        ): ?>
        
                        ilość: <input type="number" name="Edit[<?= $i ?>][instruments][<?= $elt->id ?>][numberOf]" placeholder="" style="width:40px;text-align:center;" min="0" max="100" step="1" value="<?= $model->data['variant'.$i]['instruments'][$elt->id]['numberOf'] ?>">
                        
                        <?php
                        endif; ?>
                    </td>
                    <?php
                    endfor ?>
        	    </tr>
                    <?php
                    endif; ?>
        	    <?php 
                endforeach; ?>
                <?php
                if (empty($instruments)): ?>
                <tr>
        		    <td colspan="<?= $model->data['no_of_variants']+1 ?>">
                        Brak zdefiniowanych instrumentów
                    </td>
                </tr>
                <?php
                endif; ?>
            </tbody>
            <?php
            endfor; ?>
        </table>
        
        <div class="span8 automargin">
            <fieldset>    
                <div style="clear:both"><br><br></div>
                <div class="control-group">
    			    <div class="controls">
    				    <button class="btn btn-primary btn-large btn-fixed" name="save" type="submit">Zapisz</button>&nbsp;&nbsp;&nbsp;<img id="loader" src="/web/admin/images/loader.gif">
    			    </div>
    		    </div>
            </fieldset>
        </div>
    </form>
    
    
</div>
