<div class="innerContainer container-1000">
    <div class="page-header">
    	<h2>
          Oferty <small>Lista</small>
          <a href="/offers/add" class="btn pull-right"> Stwórz nową ofertę</a></p>
    	</h2>
        
    </div>
    
    <?php echo \Log::wypisz(); ?>
    
    <form action="/offers/search" method="post" class="">
    	<div class="row">
    		<div class="span3">
    			<input type="text" class="input-block-level" id="Search[name]" name="Search[name]" placeholder="Partner" value="<?php echo $search['name']; ?>">
    		</div>
    		<div class="span3 text-left">
    			<button type="submit" class="btn btn-primary">Szukaj</button>&nbsp;&nbsp;&nbsp;
                <a href="/offers/search_reset" class="btn"><i class="icon-remove"></i> Zresetuj</a>
    		</div>
    	</div>
    </form>
    
    <?php
    if ($list !== NULL && !empty($list->data['elements'])): ?>
    <table class="table table-striped table-bordered table-hover">
        <thead>
    	    <tr>
    		    <th class="text-left">Data utworzenia</th>
                    <?php
                    if ($showOfferOwner): ?>
                <th class="text-left">Właściciel</th>
                    <?php
                    endif; ?>
                <th class="text-left" style="min-width:40%">Partner</th>
                <th>Akcje</th>
    	    </tr>
        </thead>
        <tbody>
    	    <?php foreach($list->data['elements'] as $id => $element): ?>
    	    <tr>
                <td><?php echo parserDaty3($element->data['created_date']); ?></td>
                    <?php
                    if ($showOfferOwner): ?>
                <td><?php echo $element->data['owner']->data['login']; ?></th>
                    <?php
                    endif; ?>
                <td><?php echo $element->data['name']; ?></td>
    		    
    		    <td class="icons text-center">
                    <a href="Javascript:;" data-url="<?= $host."/oferta/".$element->data['hash'] ?>" class="clipboardCopy" title="Kopiuj URL podglądu dla klienta do schowka"><i class="icon-globe"></i></a>&nbsp;&nbsp;
                    <a href="/offers/edit/id:<?= $element->id ?>" title="Edytuj"><i class="icon-edit"></i></a>&nbsp;&nbsp;
    			    <a href="Javascript:confirmDelete('/offers/delete/id:<?= $element->id ?>');" title="Usuń"><i class="icon-trash"></i></a>
    		    </td>
    	    </tr>
    	    <?php endforeach; ?>
            <?php
            if (empty($list->data['elements'])): ?>
            <tr>
    		    <td colspan="<?= $showOfferOwner ? 4 : 3 ?>">
                    Brak ofert na liście
                </td>
            </tr>
            <?php
            endif; ?>
        </tbody>
    </table>
    
    <?= $pages ?>
    <div style="clear:both"></div>
    <?php 
    else: ?>
    	<div class="alert alert-info">
    	  <button type="button" class="close" data-dismiss="alert">&times;</button>
    	  <strong>Informacja:</strong> Brak ofert do wyświetlenia.
    	</div>
    <?php 
    endif; ?>
</div>
