<?php
if (!empty($model->id)): ?>
<div class="innerContainer container-1200 offer-menu" style="margin-bottom:20px">
    <ul class="offerNavi">
        <li><a class="offerNaviLink" href="/offers/edit/id:<?= $model->id ?>">Ustawienia ogólne</a> &gt; </li>
        <?php
        for ($i = 1; $i<=$model->data['no_of_variants']; $i++): ?>
        <li><a class="offerNaviLink" href="/offers/editVariant/id:<?= $model->id ?>/variant:<?= $i ?>">Pakiet <?= $i ?></a> &gt; </li>
        <?php
        endfor; ?>
        <li><a class="offerNaviLink" href="/offers/instruments/id:<?= $model->id ?>">Instrumenty</a> &gt; </li>
        <li><a class="offerNaviLink" href="/offers/summary/id:<?= $model->id ?>">Podsumowanie</a></li>
    </ul>
</div>
<?php
endif; ?>
