                <!-- naglowki -->
                <div class="span-sixth">
                    <div class="control-group">
             		    <label class="control-label">&nbsp;</label>
             	    </div>
          		    <div class="control-group">
             		    <label class="control-label row1">Total/Normalna cena:</label>
             	    </div>
                    <div class="control-group">
             		    <label class="control-label row2">
                            <a href="javascript:;" class="hiddenSectionToggle" data-section-id="1">[+]</a>
                            Oferta Groupon:
                        </label>
             	    </div>
                    <div class="control-group hidden-section hidden-section-1">
             		    <label class="control-label row3">Rabat %:</label>
             	    </div>
                    <div class="control-group hidden-section hidden-section-1">
             		    <label class="control-label row4">Koszt %:</label>
             	    </div>
                    <div class="control-group hidden-section hidden-section-1">
             		    <label class="control-label row5">Koszt produktów PLN:</label>
             	    </div>
                    
                    <div class="control-group">
             		    <br>
             	    </div>
                    <div class="control-group">
             		    <label class="control-label row8">
                            <a href="javascript:;" class="hiddenSectionToggle" data-section-id="2">[+]</a>
                            Przelew dla partnera:
                        </label>
             	    </div>
                    <div class="control-group hidden-section hidden-section-2">
             		    <label class="control-label row6">Prowizja Groupon %:</label>
             	    </div>
                    <div class="control-group hidden-section hidden-section-2">
             		    <label class="control-label row7">Groupon VAT %:</label>
             	    </div>
                    <div class="control-group hidden-section hidden-section-2">
             		    <label class="control-label row9">Różnica od ceny 100%:</label>
                    </div>
                    
                    <div class="control-group">
             		    <br>
             	    </div>
                    <div class="control-group">
             		    <label class="control-label row11">Ilość grouponów:</label>
             	    </div>
                    <div class="control-group">
             		    <label class="control-label row12">
                            <a href="javascript:;" class="hiddenSectionToggle" data-section-id="3">[+]</a>
                            &Sigma; przelewu dla opcji:
                        </label>
             	    </div>
                    <div class="control-group hidden-section hidden-section-3">
             		    <label class="control-label row10">Zysk:</label>
             	    </div>
                    <div class="control-group hidden-section hidden-section-3">
             		    <label class="control-label row13">&Sigma; różnicy od ceny 100%:</label>
                    </div>
                    
                    <div class="control-group">
             		    <label class="control-label row14">
                            <a href="javascript:;" class="hiddenSectionToggle" data-section-id="4">[+]</a>
                            $$$
                        </label>
             	    </div>
                    
                </div>
