                <div data-option-id="<?= $i ?>" class="span-sixth optionWrapper optionWrapper<?= $i ?><?= @!$dane[$i]['use'] ? ' hiddenOption' : ''?>">
                    <input class="usageField" type="hidden" name="Edit[<?= $i ?>][use]" value="<?= @$dane[$i]['use']==1 ? '1' : '0'?>">
                    <div class="control-group">
             		    <label class="control-label floatnone optionName">
                            <a class="removeOption" href="javascript:;" style="float:right">[-]</a>
                            <span class="optionNameSpan"><?= @(!empty($dane[$i][name]) ? $dane[$i][name] : "Opcja #{$i}") ?></span> 
                            <textarea class="optionNameField oneline" name="Edit[<?= $i ?>][name]"><?= @(!empty($dane[$i][name]) ? $dane[$i][name] : "Opcja #{$i}") ?></textarea>
                            
                        </label>
             	    </div>
          		    <div class="control-group">
             		    <input type="text" data-class="row1" name="Edit[<?= $i ?>][normalPrice]" value="<?= @$dane[$i]['normalPrice'] ?>">
             	    </div>
                    <div class="control-group">
             		    <input type="text" data-class="row2" name="Edit[<?= $i ?>][price]" value="<?= @$dane[$i]['price'] ?>">
             	    </div>
                    <div class="control-group hidden-section hidden-section-1">
                        <input type="hidden" data-class="row3" name="Edit[<?= $i ?>][discount]" value="<?= @$dane[$i]['discount'] ?>">
             		    <input type="text" data-class="row3" value="<?= @$dane[$i]['discount'] ?>" disabled="disabled" class="disabled">
             	    </div>
                    <div class="control-group hidden-section hidden-section-1">
                        <input type="hidden" data-class="row4" name="Edit[<?= $i ?>][productPricePercent]" value="<?= @$dane[$i]['productPricePercent'] ?>">
             		    <input type="text" data-class="row4" value="<?= @$dane[$i]['productPricePercent'] ?>" disabled="disabled" class="disabled">
             	    </div>
                    <div class="control-group hidden-section hidden-section-1">
                        <input type="text" data-class="row5" name="Edit[<?= $i ?>][productPrice]" value="<?= @$dane[$i]['productPrice'] ?>">
             	    </div>
                    
                    <div class="control-group">
             		    <br>
                        <div class="message"></div>
             	    </div>
                    <div class="control-group">
                        <input type="hidden" data-class="row8" name="Edit[<?= $i ?>][partnerGain]" value="<?= @$dane[$i]['partnerGain'] ?>">
             		    <input type="text" data-class="row8" value="<?= @$dane[$i]['partnerGain'] ?>" disabled="disabled" class="disabled">
             	    </div>
                    <div class="control-group hidden-section hidden-section-2">
             		    <input type="text" data-class="row6" name="Edit[<?= $i ?>][commission]" value="<?= !isset($dane[$i]['commission']) ? $model->data['defaultCommission'] : $dane[$i]['commission'] ?>">
             	    </div>
                    <div class="control-group hidden-section hidden-section-2">
                        <input type="hidden" data-class="row7" name="Edit[<?= $i ?>][vat]" value="23">
             		    <input type="text" data-class="row7" value="23" disabled="disabled" class="disabled">
             	    </div>
                    <div class="control-group hidden-section hidden-section-2">
                        <input type="hidden" data-class="row9" name="Edit[<?= $i ?>][productPriceDifference]" value="<?= @$dane[$i]['productPriceDifference'] ?>">
             		    <input type="text" data-class="row9" value="<?= @$dane[$i]['productPriceDifference'] ?>" disabled="disabled" class="disabled">
                    </div>
                    
                    <div class="control-group">
             		    <br>
             	    </div>
                    <div class="control-group">
             		    <input type="text" data-class="row11" name="Edit[<?= $i ?>][grouponsCount]" value="<?= @$dane[$i]['grouponsCount'] ?>">
             	    </div>
                    <div class="control-group">
             		    <input type="hidden" data-class="row12" name="Edit[<?= $i ?>][sumPartnerGain]" value="<?= @$dane[$i]['sumPartnerGain'] ?>">
             		    <input type="text" data-class="row12" value="<?= @$dane[$i]['sumPartnerGain'] ?>" disabled="disabled" class="disabled">
             	    </div>
                    <div class="control-group hidden-section hidden-section-3">
             		    <input type="hidden" data-class="row10" name="Edit[<?= $i ?>][clearGain]" value="<?= @$dane[$i]['clearGain'] ?>">
             		    <input type="text" data-class="row10" value="<?= @$dane[$i]['clearGain'] ?>" disabled="disabled" class="disabled">
             	    </div>
                    <div class="control-group hidden-section hidden-section-3">
             		    <input type="hidden" data-class="row13" name="Edit[<?= $i ?>][sumProductPriceDifference]" value="<?= @$dane[$i]['sumProductPriceDifference'] ?>">
             		    <input type="text" data-class="row13" value="<?= @$dane[$i]['sumProductPriceDifference'] ?>" disabled="disabled" class="disabled">
             	    </div>
                    
                    <div class="control-group hidden-section hidden-section-4">
             		    <input type="hidden" data-class="row14" name="Edit[<?= $i ?>][sumGrouponGain]" value="<?= @$dane[$i]['sumGrouponGain'] ?>">
             		    <input type="text" data-class="row14" value="<?= @$dane[$i]['sumGrouponGain'] ?>" disabled="disabled" class="disabled">
             	    </div>
                </div>
