<?php
include('menu.htm'); 

?>

<div class="innerContainer container-1200">
    <div class="page-header">
    	<h2>
          Oferta dla <?= $model->data['name'] ?>
          <a href="<?= $pdfLink ?>" class="btn pull-right" style="margin-left:10px"> Pobierz PDF</a>
          <a href="javascript:window.print()" class="btn pull-right"> Drukuj</a>
    	</h2>
        <form action="" method="post" class="form-horizontal wide">
            <input type="hidden" name="SummarySettins[dummy]" value="1">
            <div class="control-group">
                <label class="control-label">Notatka dla Ciebie:</label>
                <div class="controls">
                    <textarea class="" name="SummarySettings[user_comment]" placeholder="Notatka dla Ciebie"><?= $model->data['user_comment']; ?></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Notatka dla Klienta:</label>
                <div class="controls">
                    <textarea class="" name="SummarySettings[comment]" placeholder="Notatka dla Klienta"><?= $model->data['comment']; ?></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    <p>Pokaż:</p>
                </label>
                <div class="controls" style="margin-top:5px;">
                    <label class="inlineLabel">
                        <input class="summaryTrigger" data-show="showOptions" type="checkbox" name="SummarySettings[viewOptions][showOptions]" value="1"<?= $model->data['summary_settings']['showOptions']==1 ? ' checked="checked"' : ''?> style="margin:0">
                        opcje:
                    </label>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <label class="inlineLabel showOptions" <?= $model->data['summary_settings']['showOptions']==1 ? '' : ' style="display:none"'?>>
                        <input class="summaryTrigger" data-show="normalPrice" type="checkbox" name="SummarySettings[viewOptions][normalPrice]" value="1"<?= $model->data['summary_settings']['normalPrice']==1 ? ' checked="checked"' : ''?> style="margin:0">
                        normalną cenę
                    </label>
                    &nbsp;
                    <label class="inlineLabel showOptions"<?= $model->data['summary_settings']['showOptions']==1 ? '' : ' style="display:none"'?>>
                        <input class="summaryTrigger" data-show="price" type="checkbox" name="SummarySettings[viewOptions][price]" value="1"<?= $model->data['summary_settings']['price']==1 ? ' checked="checked"' : ''?> style="margin:0">
                        ofertę Groupon
                    </label>
                    &nbsp;
                    <label class="inlineLabel showOptions"<?= $model->data['summary_settings']['showOptions']==1 ? '' : ' style="display:none"'?>>
                        <input class="summaryTrigger" data-show="discount" type="checkbox" name="SummarySettings[viewOptions][discount]" value="1"<?= $model->data['summary_settings']['discount']==1 ? ' checked="checked"' : ''?> style="margin:0">
                        % rabatu
                    </label>
                    &nbsp;
                    <label class="inlineLabel showOptions"<?= $model->data['summary_settings']['showOptions']==1 ? '' : ' style="display:none"'?>>
                        <input class="summaryTrigger" data-show="commission" type="checkbox" name="SummarySettings[viewOptions][commission]" value="1"<?= $model->data['summary_settings']['commission']==1 ? ' checked="checked"' : ''?> style="margin:0">
                        % prowizji
                    </label>
                    &nbsp;
                    <label class="inlineLabel showOptions"<?= $model->data['summary_settings']['showOptions']==1 ? '' : ' style="display:none"'?>>
                        <input class="summaryTrigger" data-show="partnerGain" type="checkbox" name="SummarySettings[viewOptions][partnerGain]" value="1"<?= $model->data['summary_settings']['partnerGain']==1 ? ' checked="checked"' : ''?> style="margin:0">
                        przelew dla partnera
                    </label>
                    &nbsp;
                    <label class="inlineLabel showOptions"<?= $model->data['summary_settings']['showOptions']==1 ? '' : ' style="display:none"'?>>
                        <input class="summaryTrigger" data-show="grouponsCount" type="checkbox" name="SummarySettings[viewOptions][grouponsCount]" value="1"<?= $model->data['summary_settings']['grouponsCount']==1 ? ' checked="checked"' : ''?> style="margin:0">
                        ilość grouponów
                    </label>
                    &nbsp;
                    <label class="inlineLabel showOptions"<?= $model->data['summary_settings']['showOptions']==1 ? '' : ' style="display:none"'?>>
                        <input class="summaryTrigger" data-show="sumPartnerGain" type="checkbox" name="SummarySettings[viewOptions][sumPartnerGain]" value="1"<?= $model->data['summary_settings']['sumPartnerGain']==1 ? ' checked="checked"' : ''?> style="margin:0">
                        &sigma; przelewu dla opcji
                    </label>
                    <br />
                    <label class="inlineLabel">
                        <input class="summaryTrigger" data-show="valueForCoupon" type="checkbox" name="SummarySettings[viewOptions][valueForCoupon]" value="1"<?= $model->data['summary_settings']['valueForCoupon']==1 ? ' checked="checked"' : ''?> style="margin:0">
                        wartość kampanii na kupon
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn" value="Zapisz notatki i ustawienia">
                </div>
            </div>
        </form>
    </div>
    
    <?php
    if (false && !empty($model->data['user_comment'])): ?>
    <p class="print-only mrgbottom30" style="font-style:italic">
        <?= nl2br($model->data['user_comment']); ?>
    </p>
    <?php
    endif; ?>
    
    <?php
    if (!empty($model->data['comment'])): ?>
    <p class="print-only mrgbottom30">
        <?= nl2br($model->data['comment']); ?>
    </p>
    <?php
    endif; ?>
    
    <?php
    for ($i = 1; $i<=$model->data['no_of_variants']; $i++): ?>
    
    <div class="span-third<?= $i%3==0 ? ' odd' : '' ?>">
        <table class="table table-striped table-bordered table-hover">
            <thead>
        	    <tr>
        		    <th colspan=2 class="green">Pakiet <?= $i ?></th>
        	    </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Przelew dla Partnera</td>
                    <td><?= $model->data['variant'.$i]['summary']['partnerGain'] ?> zł</td>
                </tr>
                <tr>
                    <td>Zasięg kampanii</td>
                    <td><?= $model->data['variant'.$i]['summary']['instrumentsRange'] ?> u.u.</td>
                </tr>
                <tr>
                    <td>Instrumenty</td>
                    <td><?= $model->data['variant'.$i]['summary']['instrumentsValue'] ?> zł</td>
                </tr>
                <tr>
                    <td>Powracający klienci</td>
                    <td><?= $model->data['variant'.$i]['summary']['returningValue'] ?> zł</td>
                </tr>
                <tr>
                    <td class="green">WARTOŚĆ KAMPANII</td>
                    <td class="green"><?= format_value($model->data['variant'.$i]['summary']['totalSum']) ?> zł</td>
                </tr>
                <tr class="valueForCoupon"<?= $model->data['summary_settings']['valueForCoupon']==1 ? '' : ' style="display:none"'?>>
                    <td>Wartość kampanii na kupon</td>
                    <td><?= @format_value($model->data['variant'.$i]['summary']['totalSum']/(int)$model->data['variant'.$i]['summary']['grouponsCount']) ?> zł</td>
                </tr>
                <tr class="showOptionsHide"<?= $model->data['summary_settings']['showOptions']==1 ? ' style="display:none"' : ''?>>
                    <td colspan=2>&nbsp;</td>
                </tr>
                <tr class="showOptions"<?= $model->data['summary_settings']['showOptions']==1 ? '' : ' style="display:none"'?>>
                    <td colspan=2 class="optionsHeaderCell">OPCJE</td>
                </tr>
                    <?php
                    for ($j=1; $j<21; $j++): 
                        $daneOpcji = $model->data['variant'.$i][$j];
                        if ($daneOpcji['use']!=1) {
                            continue;
                        }
                    ?>
                <tr class="showOptions"<?= $model->data['summary_settings']['showOptions']==1 ? '' : ' style="display:none"'?>>
                    <td colspan=2 class="optionsNameCell"><?= $daneOpcji['name'] ?></td>
                </tr>
                <tr class="showOptions normalPrice"<?= $model->data['summary_settings']['showOptions']==1 && $model->data['summary_settings']['normalPrice']==1 ? '' : ' style="display:none"'?>>
                    <td class="white textright paddingsmall">Normalna cena</td>
                    <td class="white paddingsmall textcenter"><?= format_value($daneOpcji[normalPrice]) ?> zł</td>
                </tr>
                <tr class="showOptions price"<?= $model->data['summary_settings']['showOptions']==1 && $model->data['summary_settings']['price']==1 ? '' : ' style="display:none"'?>>
                    <td class="white textright paddingsmall">Oferta Groupon</td>
                    <td class="white paddingsmall textcenter"><?= format_value($daneOpcji[price]) ?> zł</td>
                </tr>
                <tr class="showOptions discount"<?= $model->data['summary_settings']['showOptions']==1 && $model->data['summary_settings']['discount']==1 ? '' : ' style="display:none"'?>>
                    <td class="white textright paddingsmall">Rabat</td>
                    <td class="white paddingsmall textcenter"><?= format_value($daneOpcji[discount]) ?>%</td>
                </tr>
                <tr class="showOptions commission"<?= $model->data['summary_settings']['showOptions']==1 && $model->data['summary_settings']['commission']==1 ? '' : ' style="display:none"'?>>
                    <td class="white textright paddingsmall">Prowizja Groupon</td>
                    <td class="white paddingsmall textcenter"><?= format_value($daneOpcji[commission]) ?>%</td>
                </tr>
                <tr class="showOptions partnerGain"<?= $model->data['summary_settings']['showOptions']==1 && $model->data['summary_settings']['partnerGain']==1 ? '' : ' style="display:none"'?>>
                    <td class="white textright paddingsmall">Przelew dla partnera</td>
                    <td class="white paddingsmall textcenter"><?= format_value($daneOpcji[partnerGain]) ?> zł</td>
                </tr>
                <tr class="showOptions grouponsCount"<?= $model->data['summary_settings']['showOptions']==1 && $model->data['summary_settings']['grouponsCount']==1 ? '' : ' style="display:none"'?>>
                    <td class="white textright paddingsmall">Ilość grouponów</td>
                    <td class="white paddingsmall textcenter"><?= format_value($daneOpcji[grouponsCount]) ?></td>
                </tr>
                <tr class="showOptions sumPartnerGain"<?= $model->data['summary_settings']['showOptions']==1 && $model->data['summary_settings']['sumPartnerGain']==1 ? '' : ' style="display:none"'?>>
                    <td class="white textright paddingsmall">&Sigma; przelewu dla opcji</td>
                    <td class="white paddingsmall textcenter"><?= format_value($daneOpcji[sumPartnerGain]) ?> zł</td>
                </tr>
                
                    <?php
                    endfor; ?>
                <tr>
        		    <th colspan=2 class="green">Skład pakietu</th>
        	    </tr>
                <tr>
                    <td colspan=2><?= implode('<br>', $model->data['variant'.$i]['summary']['instrumentNames']) ?></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <?= $i%3==0 ? '<div class="clearfix"></div>' : '' ?>
    
    
    <?php
    endfor ?>
    
    <div class="clearfix mrgbottom50"></div>
    
    <?php
    foreach ($model->data['usedInstruments'] as $instrument): 
        if (!$instrument->hasFAQ()) {
            continue;
        }
        ?>
    <h4 class="faqHeader"><?= $instrument->data['name'] ?></h4>
    <div class="wysiwyg mrgbottom50">
        <?= $instrument->data['faq'] ?>
    </div>
    <?php
    endforeach; ?>
    
</div>
