<div class="innerContainer container-800">
    <div class="page-header">
    	<h2>Kategorie <small>Szczegóły</small>
    		<a href="/categories" class="btn pull-right"><i class="icon-chevron-left"></i> Wróć do listy</a></p>
    	</h2>
    </div>

    <?php echo Log::wypisz(); ?>
    
    <div class="clearfix"></div>

    <div class="row">
    <form method="post" class="form-horizontal">
    <div class="span8 automargin">
		<fieldset>
            
      		    <div class="control-group">
         		    <label class="control-label">Nazwa:</label>
         		    <div class="controls">
         			    <input type="text" name="Edit[name]" placeholder="Nazwa" style="width:300px" value="<?php echo $model->data['name']; ?>">
         		    </div>
         	    </div>
        </fieldset>
        <fieldset>
            <legend>Minimalne prowizje</legend>
                
                <div class="control-group">
         		    <label class="control-label">Nikiel:</label>
         		    <div class="controls">
         			    <input type="text" name="Edit[nickel_minimal_commission]" placeholder="" style="width:50px" value="<?php echo $model->data['nickel_minimal_commission']; ?>">
         		    </div>
         	    </div>
                <div class="control-group">
         		    <label class="control-label">Bronze:</label>
         		    <div class="controls">
         			    <input type="text" name="Edit[bronze_minimal_commission]" placeholder="" style="width:50px" value="<?php echo $model->data['bronze_minimal_commission']; ?>">
         		    </div>
         	    </div>
                <div class="control-group">
         		    <label class="control-label">Silver:</label>
         		    <div class="controls">
         			    <input type="text" name="Edit[silver_minimal_commission]" placeholder="" style="width:50px" value="<?php echo $model->data['silver_minimal_commission']; ?>">
         		    </div>
         	    </div>
                <div class="control-group">
         		    <label class="control-label">Gold:</label>
         		    <div class="controls">
         			    <input type="text" name="Edit[gold_minimal_commission]" placeholder="" style="width:50px" value="<?php echo $model->data['gold_minimal_commission']; ?>">
         		    </div>
         	    </div>
                <div class="control-group">
         		    <label class="control-label">Platinum:</label>
         		    <div class="controls">
         			    <input type="text" name="Edit[platinum_minimal_commission]" placeholder="" style="width:50px" value="<?php echo $model->data['platinum_minimal_commission']; ?>">
         		    </div>
         	    </div>
                
        </fieldset>
        <fieldset>
            <legend>Kompetencje marżowe <a href="javascript:;" class="cloneElement pull-right">[+]</a></legend>
            <p class="text-info">Dla pola 'Od' wartość 100% jest interpretowana jako minimalna prowizja dla wybranego w&nbsp;ofercie metalu</p>
            <div class="clonedElementsWrapper">
            <?php
            $list = $model->data['warnings'];
            $list['cloneTemplate'] = array();
            foreach ($list as $id=>$w): ?>
                <div class="control-group inlineblock line-bottom clonedElement <?= $id==='cloneTemplate' ? 'cloneBase' : ''?>">
                    <a href="javascript:;" class="removeClonedElement pull-right">[usuń]</a>
         		    <label class="control-label">Od: (&gt;=)</label>
                    <input type="text" name="Edit[warnings][<?= $id ?>][from]" value="<?= $w[from] ?>">
         		    <label class="control-label">&nbsp; &nbsp; Do: (&lt;=)</label>
                    <input type="text" name="Edit[warnings][<?= $id ?>][to]"value="<?= $w[to] ?>">
                     <div class="clearfix"><br><br></div>
                     <label class="control-label">
                        <input type="radio" name="Edit[warnings][<?= $id ?>][type]" value="none" <?= empty($w[type]) || $w[type]=="none" ? 'checked="checked"' : ''?>> brak komunikatu
                    </label>
                    <label class="control-label">
                        <input type="radio" name="Edit[warnings][<?= $id ?>][type]" value="warning" <?= $w[type]=="warning" ? 'checked="checked"' : ''?>> ostrzeżenie
                    </label>
                    <label class="control-label">
                        <input type="radio" name="Edit[warnings][<?= $id ?>][type]" value="notice" <?= $w[type]=="notice" ? 'checked="checked"' : ''?>> informacja
                    </label>
                    <div class="clearfix"><br><br></div>
                    <label class="control-label">Komunikat:</label>
                    <textarea name="Edit[warnings][<?= $id ?>][message]" style="width:300px"><?= $w[message] ?></textarea>
         	    </div>
            <?php
            endforeach; ?>
            </div>
            <div class="control-group">
			    <div class="controls">
				    <button class="btn btn-primary btn-large" name="save" type="submit">Zapisz</button>&nbsp;&nbsp;&nbsp;<img id="loader" src="/web/admin/images/loader.gif">
			    </div>
		    </div>
            
	    </fieldset>
    </div>
    </form>
</div>
