<div class="innerContainer container-1200">
    <div class="page-header">
    	<h2>
          FAQ <small>instrumenty</small>
    	</h2>
    </div>
    <?php
    foreach ($instruments as $instrument): 
        if (!$instrument->hasFAQ()) {
            continue;
        }
        ?>
    <a name="<?= $instrument->data['normalized'] ?>"></a>
    <h4 class="faqHeader"><?= $instrument->data['name'] ?></h4>
    <div class="wysiwyg mrgbottom50">
        <?= $instrument->data['faq'] ?>
    </div>
    <?php
    endforeach; ?>
</div>
