<div class="innerContainer container-1200">
    <div class="page-header">
    	<h2>
          <?= $title ?>
          <?php
          if ($canEdit): ?>
          <a href="<?= $editLink ?>" class="btn pull-right" style="margin-left:10px">Edytuj</a>
          <?php
          endif; ?>
    	</h2>
    </div>
    <div class="wysiwyg">
        <?= $content ?>
    </div>
    
</div>
