
<div class="innerContainer container-1200">
    <div class="page-header">
    	<h2>
            &nbsp;
            <a href="<?= $pdfLink ?>" class="btn pull-right" style="margin-left:10px"> Pobierz PDF</a>
            <a href="javascript:window.print()" class="btn pull-right"> Drukuj</a>
    	</h2>
    </div>
    
    <?php
    if (!empty($model->data['comment'])): ?>
    <p class="mrgbottom30">
        <?= nl2br($model->data['comment']); ?>
    </p>
    <?php
    endif; ?>
    
    <?php
    for ($i = 1; $i<=$model->data['no_of_variants']; $i++): ?>
    
    <div class="span-third<?= $i%3==0 ? ' odd' : '' ?>">
        <table class="table table-striped table-bordered table-hover">
            <thead>
        	    <tr>
        		    <th colspan=2 class="green">Pakiet <?= $i ?></th>
        	    </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Przelew dla Partnera</td>
                    <td><?= $model->data['variant'.$i]['summary']['partnerGain'] ?> zł</td>
                </tr>
                <tr>
                    <td>Zasięg kampanii</td>
                    <td><?= $model->data['variant'.$i]['summary']['instrumentsRange'] ?> u.u.</td>
                </tr>
                <tr>
                    <td>Instrumenty</td>
                    <td><?= $model->data['variant'.$i]['summary']['instrumentsValue'] ?> zł</td>
                </tr>
                <tr>
                    <td>Powracający klienci</td>
                    <td><?= $model->data['variant'.$i]['summary']['returningValue'] ?> zł</td>
                </tr>
                <tr>
                    <td class="green">WARTOŚĆ KAMPANII</td>
                    <td class="green"><?= format_value($model->data['variant'.$i]['summary']['totalSum']) ?> zł</td>
                </tr>
                <tr<?= $model->data['summary_settings']['valueForCoupon']==1 ? '' : ' style="display:none"'?>>
                    <td>Wartość kampanii na kupon</td>
                    <td><?= @format_value($model->data['variant'.$i]['summary']['totalSum']/(int)$model->data['variant'.$i]['summary']['grouponsCount']) ?> zł</td>
                </tr>
                <tr class="showOptionsHide"<?= $model->data['summary_settings']['showOptions']==1 ? ' style="display:none"' : ''?>>
                    <td colspan=2>&nbsp;</td>
                </tr>
                <tr class="showOptions"<?= $model->data['summary_settings']['showOptions']==1 ? '' : ' style="display:none"'?>>
                    <td colspan=2 class="optionsHeaderCell">OPCJE</td>
                </tr>
                    <?php
                    for ($j=1; $j<21; $j++): 
                        $daneOpcji = $model->data['variant'.$i][$j];
                        if ($daneOpcji['use']!=1) {
                            continue;
                        }
                    ?>
                <tr class="showOptions"<?= $model->data['summary_settings']['showOptions']==1 ? '' : ' style="display:none"'?>>
                    <td colspan=2 class="optionsNameCell"><?= $daneOpcji['name'] ?></td>
                </tr>
                <tr class="showOptions normalPrice"<?= $model->data['summary_settings']['showOptions']==1 && $model->data['summary_settings']['normalPrice']==1 ? '' : ' style="display:none"'?>>
                    <td class="white textright paddingsmall">Normalna cena</td>
                    <td class="white paddingsmall textcenter"><?= format_value($daneOpcji[normalPrice]) ?> zł</td>
                </tr>
                <tr class="showOptions price"<?= $model->data['summary_settings']['showOptions']==1 && $model->data['summary_settings']['price']==1 ? '' : ' style="display:none"'?>>
                    <td class="white textright paddingsmall">Oferta Groupon</td>
                    <td class="white paddingsmall textcenter"><?= format_value($daneOpcji[price]) ?> zł</td>
                </tr>
                <tr class="showOptions discount"<?= $model->data['summary_settings']['showOptions']==1 && $model->data['summary_settings']['discount']==1 ? '' : ' style="display:none"'?>>
                    <td class="white textright paddingsmall">Rabat</td>
                    <td class="white paddingsmall textcenter"><?= format_value($daneOpcji[discount]) ?>%</td>
                </tr>
                <tr class="showOptions commission"<?= $model->data['summary_settings']['showOptions']==1 && $model->data['summary_settings']['commission']==1 ? '' : ' style="display:none"'?>>
                    <td class="white textright paddingsmall">Prowizja Groupon</td>
                    <td class="white paddingsmall textcenter"><?= format_value($daneOpcji[commission]) ?>%</td>
                </tr>
                <tr class="showOptions partnerGain"<?= $model->data['summary_settings']['showOptions']==1 && $model->data['summary_settings']['partnerGain']==1 ? '' : ' style="display:none"'?>>
                    <td class="white textright paddingsmall">Przelew dla partnera</td>
                    <td class="white paddingsmall textcenter"><?= format_value($daneOpcji[partnerGain]) ?> zł</td>
                </tr>
                <tr class="showOptions grouponsCount"<?= $model->data['summary_settings']['showOptions']==1 && $model->data['summary_settings']['grouponsCount']==1 ? '' : ' style="display:none"'?>>
                    <td class="white textright paddingsmall">Ilość grouponów</td>
                    <td class="white paddingsmall textcenter"><?= format_value($daneOpcji[grouponsCount]) ?></td>
                </tr>
                <tr class="showOptions sumPartnerGain"<?= $model->data['summary_settings']['showOptions']==1 && $model->data['summary_settings']['sumPartnerGain']==1 ? '' : ' style="display:none"'?>>
                    <td class="white textright paddingsmall">&Sigma; przelewu dla opcji</td>
                    <td class="white paddingsmall textcenter"><?= format_value($daneOpcji[sumPartnerGain]) ?> zł</td>
                </tr>
                
                    <?php
                    endfor; ?>
                <tr>
        		    <th colspan=2 class="green">Skład pakietu</th>
        	    </tr>
                <tr>
                    <td colspan=2><?= implode('<br>', $model->data['variant'.$i]['summary']['instrumentNames']) ?></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <?= $i%3==0 ? '<div class="clearfix"></div>' : '' ?>
    
    
    <?php
    endfor ?>
    
    <div class="clearfix mrgbottom50"></div>
    
    <?php
    foreach ($model->data['usedInstruments'] as $instrument): 
        if (!$instrument->hasFAQ()) {
            continue;
        }
        ?>
    <h4 class="faqHeader"><?= $instrument->data['name'] ?></h4>
    <div class="wysiwyg mrgbottom50">
        <?= $instrument->data['faq'] ?>
    </div>
    <?php
    endforeach; ?>
</div>
