<div class="innerContainer container-1200">
    <div class="page-header">
    	<h2>
          <?= $model->getTitle() ?> - edycja strony
          
          <a href="<?= $viewLink ?>" class="btn pull-right" style="margin-left:10px">Powrót</a>
          
    	</h2>
    </div>
    
    <?php echo Log::wypisz(); ?>
    
    <div class="clearfix"></div>
    
    <form method="post" class="form-horizontal wide">
        <!--
        <div class="control-group">
            <label class="control-label">Nazwa linku:</label>
            <div class="controls">
                <input type="text" name="Edit[link_name]" placeholder="Nazwa linku" value="<?= $model->data['link_name']; ?>">
            </div>
        </div>
        -->
        <div class="control-group">
            <label class="control-label">Tytuł strony:</label>
            <div class="controls">
                <input type="text" name="Edit[title]" placeholder="Tytuł strony" value="<?= $model->data['title']; ?>">
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label">Treść strony:</label>
            <div class="controls">
                <textarea class="standardCkeeditor" name="Edit[content]" placeholder="Treść strony"><?= $model->data['content']; ?></textarea>
            </div>
        </div>
    
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary btn-large" name="save" type="submit">Zapisz</button>
            </div>
        </div>
    </form>
</div>
