body {
    background:white;
    font-size:11px;
}

#logo a {
    background:white;
    padding:0;
}

#logo a .print-only {
    color: #53a318;
    display:inline-block;
    font-weight:bold;
}

.innerContainer {
    border:0;
}

#menu, 
.navi-second,
.offer-menu,
.page-header
{
    display:none;    
}

a[href]:after {
   content:"" !important;
}


.print-only {
    display:block;
}