<?php

$regions = array(
    'dolnośląskie',
    'kujawsko-pomorskie',
    'lubelskie',
    'lubuskie',
    'łódzkie',
    'małopolskie',
    'mazowieckie',
    'opolskie',
    'podkarpackie',
    'podlaskie',
    'pomorskie',
    'śląskie',
    'świętokrzyskie',
    'warmińsko-mazurskie',
    'wielkopolskie',
    'zachodniopomorskie'
);
?>

<div class="innerContainer container-800">
    <div class="page-header">
    	<h2>Miasto <small>Szczegóły</small>
    		<a href="/cities" class="btn pull-right"><i class="icon-chevron-left"></i> Wróć do listy</a></p>
    	</h2>
    </div>

    <?php echo Log::wypisz(); ?>
    
    <div class="clearfix"></div>

    <div class="row">
   
    <div class="span6 automargin">
		<fieldset>
            <form method="post" class="form-horizontal">
      		    <div class="control-group">
         		    <label class="control-label"><i class="icon-star"></i> Nazwa:</label>
         		    <div class="controls">
         			    <input type="text" name="Edit[name]" placeholder="Nazwa" value="<?php echo $model->data['name']; ?>">
         		    </div>
         	    </div>
                
                <div class="control-group">
         		    <label class="control-label"><i class="icon-star"></i> Województwo:</label>
         		    <div class="controls">
                        <select name="Edit[region]">
                        <?php
                        foreach ($regions as $name): ?>
         			        <option value="<?= $name?>"<?= $model->data['region']==$name ? ' selected="selected"' : '' ?>><?= $name ?></option>
                        <?php
                        endforeach ?>
                        </select>
         		    </div>
         	    </div>
        
                <div class="control-group">
   				    <div class="controls">
   					    <button class="btn btn-primary btn-large" name="save" type="submit">Zapisz</button>&nbsp;&nbsp;&nbsp;<img id="loader" src="/web/admin/images/loader.gif">
   				    </div>
   			    </div>
            </form>
	    </fieldset>
    </div>
</div>
