<div class="innerContainer container-800">

    <div class="page-header">
    	<h2>Użytkownik <small>Szczegóły</small>
    		<a href="/admin_users" class="btn pull-right"><i class="icon-chevron-left"></i> Wróć do listy</a></p>
    	</h2>
    </div>
    
    <?php echo Log::wypisz(); ?>
    
    <div class="row">
       <div class="span6 automargin">
    		<fieldset>
             <legend>Dane użytkownika</legend>
             <form method="post" class="form-horizontal">
          		<div class="control-group">
             		<label class="control-label" for="login"> Login:</label>
             		<div class="controls">
             			<input type="text" id="login" name="Edit[login]" placeholder="Login" value="<?php echo $model->data['login']; ?>">
             		</div>
             	</div>
                <div class="control-group">
             		<label class="control-label" for="name"> Imię i nazwisko:</label>
             		<div class="controls">
             			<input type="text" id="name" name="Edit[name]" placeholder="Imię i nazwisko" value="<?php echo $model->data['name']; ?>">
             		</div>
             	</div>
                <div class="control-group">
             		<label class="control-label" for="name"> &nbsp;</label>
             		<div class="controls">
             			<label>
        			        <input class="AdminAccount-googleOnlyLoginRadio" style="margin:0" type="radio" <?= $model->data['google_only_login']==1 || !isset($model->data['google_only_login']) ? 'checked="checked"' : '' ?> value="1" name="Edit[google_only_login]">
                            logowanie tylko przez google               		
                        </label>
                        <label>
        			        <input class="AdminAccount-googleOnlyLoginRadio" style="margin:0" type="radio" <?= $model->data['google_only_login']==0 && isset($model->data['google_only_login']) ? 'checked="checked"' : '' ?> value="0" name="Edit[google_only_login]">
                            logowanie przez google i hasło              		
                        </label>
             		</div>
             	</div>
                <?php
                if ($model->deleteable()): ?>
                <div class="control-group">
             		<label class="control-label" for="name"> Zwierzchnik:</label>
             		<div class="controls">
             			<select name="Edit[superior]">
                            <option value="0"></option>
                            <?php
                            foreach ($possible_superiors as $id=>$label): ?>
                            <option value="<?= $id ?>"<?= $model->data['superior']==$id ? ' selected="selected"' : '' ?>><?= $label ?></option>
                            <?php
                            endforeach; ?>
                        </select>
             		</div>
             	</div>
                <?php
                endif; ?>
                <legend>Uprawnienia</legend>
                <div class="controls">
             		
                   <label class="checkbox">
    			         <input type="checkbox" <?= @in_array(admin_usersController::PRV_EDIT,$model->data['privileges']) ? 'checked="checked"' : '' ?> value="<?= admin_usersController::PRV_EDIT ?>" name="Edit[privileges][]">
                      zarządzanie użytkownikami               		
                   </label>
                   <label class="checkbox">
    			         <input type="checkbox" <?= @in_array(SettingsController::PRV_EDIT,$model->data['privileges']) ? 'checked="checked"' : '' ?> value="<?= SettingsController::PRV_EDIT ?>" name="Edit[privileges][]">
                      zarządzanie ustawieniami           		
                   </label>
                   <label class="checkbox">
    			         <input type="checkbox" <?= @in_array(OffersController::PRV_EDIT_ALL,$model->data['privileges']) ? 'checked="checked"' : '' ?> value="<?= OffersController::PRV_EDIT_ALL ?>" name="Edit[privileges][]">
                      dostęp do wszystkich ofert         		
                   </label>
                  
             	</div>
                <div id="AdminAccount-PasswordDiv" <?= $model->data['google_only_login']==1 || !isset($model->data['google_only_login']) ? 'style="display:none"' : '' ?>>
                    <legend>Hasło <span>- wypełnij, aby ustawić nowe</span></legend>
                    <div class="control-group">
                 		<label class="control-label" for="password"> Nowe hasło:</label>
                 		<div class="controls">
                 			<input type="text" id="password" name="Edit[password]" placeholder="Nowe hasło" value="">
                 		</div>
                 	</div>
                    <div class="control-group">
                 		<label class="control-label" for="retype_password"> Powtórz hasło:</label>
                 		<div class="controls">
                 			<input type="text" id="retype_password" name="Edit[retype_password]" placeholder="Nowe hasło powtórzone" value="">
                 		</div>
                 	</div>
                </div>
            <?php
            if (!empty($model->data)): ?>
                <div class="control-group">
             		<label class="control-label"> Data utworzenia:</label>
             		<div class="controls">
             			<p><?php echo $model->data['created']  ?></p>
             		</div>
             	</div>
                <div class="control-group">
             		<label class="control-label"> Data ost. zmiany:</label>
             		<div class="controls">
             			<p><?php echo $model->data['lastChange']  ?></p>
             		</div>
             	</div>
                <div class="control-group">
             		<label class="control-label"> Data ost. logowania:</label>
             		<div class="controls">
             			<p><?php echo $model->data['lastLogin']  ?></p>
             		</div>
             	</div>
            <?php
            endif; ?>
                <div class="control-group">
       				<div class="controls">
                        <br>
       					<button class="btn btn-primary btn-large" name="save" type="submit">Zapisz</button>&nbsp;&nbsp;&nbsp;<img id="loader" src="/web/admin/images/loader.gif">
       				</div>
       			</div>
             </form>
    		</fieldset>
       </div>
    </div>
</div>
