<div class="innerContainer container-800">
    <div class="page-header">
    	<h2>
          Użytkownik <small>Zmiana hasła</small>
    	</h2>
    </div>
    
    <?php echo Log::wypisz(); ?>
    
    <div class="row">
       <div class="span2"></div>
       <div class="span6">
    		<fieldset>
             <legend></legend>
             <form method="post" class="form-horizontal">
          		<div class="control-group">
             		<label class="control-label" for="login"><i class="icon-star"></i> Login:</label>
             		<div class="controls">
             			<p><?php echo $model->data['login']; ?></p>
             		</div>
             	</div>
                <?php
                if ($model->data['google_only_login']==0): ?>
                <legend>Zmiana hasła</legend>
                <div class="control-group">
             		<label class="control-label" for="current_password"><i class="icon-star"></i> Aktualne hasło:</label>
             		<div class="controls">
             			<input type="password" id="current_password" name="Edit[current_password]" placeholder="Aktualne hasło" value="">
             		</div>
             	</div>
                <div class="control-group">
             		<label class="control-label" for="password"><i class="icon-star"></i> Nowe hasło:</label>
             		<div class="controls">
             			<input type="password" id="password" name="Edit[password]" placeholder="Nowe hasło" value="">
             		</div>
             	</div>
                <div class="control-group">
             		<label class="control-label" for="retype_password"><i class="icon-star"></i> Powtórz hasło:</label>
             		<div class="controls">
             			<input type="password" id="retype_password" name="Edit[retype_password]" placeholder="Nowe hasło powtórzone" value="">
             		</div>
             	</div>
                <?php
                endif; ?>
                
                <div class="control-group">
       				<div class="controls">
       					<button class="btn btn-primary btn-large" name="save" type="submit">Zapisz</button>&nbsp;&nbsp;&nbsp;<img id="loader" src="/web/admin/images/loader.gif">
       				</div>
       			</div>
             </form>
    		</fieldset>
       </div>
    </div>
</div>
