<div class="innerContainer container-800">

    <div class="page-header">
    	<h2>
          Użytkownicy <small>Lista</small>
          <a href="/admin_users/add" class="btn pull-right">Dodaj Użytkownika</a></p>
    	</h2>
    </div>
    
    <?php echo \Log::wypisz(); ?>
    
    <form action="/admin_users/search" method="post" class="">
    	<div class="row">
    		<div class="span3">
    			<input type="text" class="input-block-level" id="Search[login]" name="Search[login]" placeholder="Login" value="<?php echo $search['login']; ?>">
    		</div>
    		<div class="span3 text-left">
    			<button type="submit" class="btn btn-primary">Szukaj</button>&nbsp;&nbsp;&nbsp;
                <a href="/admin_users/search_reset" class="btn"><i class="icon-remove"></i> Zresetuj</a>
    		</div>
    	</div>
    </form>
    
    <?php
    if ($list !== NULL && !empty($list->data['elements'])): ?>
    
    <table class="table table-striped table-bordered table-hover">
    	<thead>
    		<tr>
    			<th class="text-center">Login</th>
    			<th class="text-center">Data dodania</th>
             <th>Akcje</th>
    		</tr>
    	</thead>
    	<tbody>
    		<?php foreach($list->data['elements'] as $id => $element): ?>
    		<tr>
             <td class="text-center"><?php echo $element->data['login']; ?></td>
    			<td class="text-center"><?php echo $element->data['created']; ?></td>
    			<td class="icons text-center">
                <a href="/admin_users/edit/id:<?= $element->id ?>" title="Edytuj"><i class="icon-edit"></i></a>&nbsp;&nbsp;
    				<a href="Javascript:confirmDelete('/admin_users/delete/id:<?= $element->id ?>');" title="Usuń"><i class="icon-trash"></i></a>
    			</td>
    		</tr>
    		<?php endforeach; ?>
    	</tbody>
    </table>
    
    
    <?php //echo Helper::znacznikiStronZwykle($data['page'], $data['pages'], $data['nextPageAddress']); ?>
    <?php 
    else: ?>
    	<div class="alert alert-info">
    	  <button type="button" class="close" data-dismiss="alert">&times;</button>
    	  <strong>Informacja:</strong> Brak użytkowników do wyświetlenia.
    	</div>
    <?php 
    endif; ?>
</div>
