.clear-fix {
	float: none; clear: both; width: 98%; height: 0px; font-size: 1px; line-height: 1px; overflow: hidden;
}

body
{
	margin: 0px;
    background: #F2F2F2;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

header {
    background:white;
    padding:20px;
    width:100%;
    border-bottom:1px solid rgba(51,51,51,0.1);
}

#header.two-lines {
    padding:12px 20px 20px;
}   

.table-inside
{
	max-width: 100%;
	overflow-x: auto;
	background: #fff !important;
	margin-top: 15px;

}

.table-inside table
{
	margin-bottom: 0 !important;
}

.table-inside table input
{
	margin-bottom: 0 !important;
}

#logo {
    display:inline;
	float: left;
}

#logo a {
    background:url(/web/admin/images/logo.png) no-repeat left 8px;
    padding-left: 226px;
    
	display:inline-block;
    color:black;
    font-size:48px;
    line-height:48px;
    height:48px;
    letter-spacing:-0.02em;
}

#header.two-lines #logo a {
    display:block;
}

#header.two-lines #logo > span {
    display:block;
    margin-top:8px;
    color:black;
    font-size:40px;
    line-height:40px;
    height:40px;
    letter-spacing:-0.02em;
}

#logo a:hover {
    text-decoration:none;
}

#menu {
   float: right;
}

.nav
{
	margin-bottom: 30px;
}


td.text-center
{
	text-align: center;
}

table th
{
	text-align: center !important;
}

.page-header .btn
{
	margin-top: 7px;
}

th, td
{
	vertical-align: middle !important;
}

table td.icons {
	text-decoration: none;
	width: 85px;
}

table td.icons.short {
	width: 60px;
}

table td.icons a
{
  -webkit-transition: opacity .2s;
          transition: opacity .2s;
}

table td.icons a:hover
{
	opacity: .65;
}


a.icon{
	width: 24px;
	height: 16px;
	display: block;	
	float: left;
}


#footer
{
	text-align: right;
	vertical-align: middle;
	margin-top: 50px;
}

#footer > a
{
	display: inline-block;
	margin-left: 15px;
	vertical-align: middle;
	opacity: .7;
	text-decoration: none;
	
  -webkit-transition: opacity .2s;
          transition: opacity .2s;
}

#footer > a:hover
{
	opacity: 1;
}

#footer > p
{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

.alert
{
	margin-top: 20px;
}

.permissionsAdd
{
	display: block;
	text-align: center;
	margin-bottom: 5px;
}

.permissionsAdd select
{
	margin-bottom: 0;
}

.permission.label, .categoryLabel.label, .tag.label, .user.label, .code.label
{
	white-space: normal;
	font-weight: normal;
	margin-bottom: 3px;
	display: block;
}

.categoryLabel.label, .tag.label, .user.label, .code.label
{
	margin-right: 5px;
	float: left;
}

.permissionsTd
{
	width: 115px;
	vertical-align: top !important;
}



.pick-list-v {
	max-height: 450px;
	overflow-x: hidden;
	overflow-y: auto;
}

.pick-list-h {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 120px;
}

.offer {
	padding: 5px;
	cursor: move;
	background: #FFF;
	margin-bottom: 10px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
}

.offer.muted
{
	background: #f5f5f5;
}

.offer > strong, .offer > span
{
	display: block;
}


.category {
	width: 50px;
	height: 50px;
	cursor: move;
	margin: 0 10px 10px 0;
	background: #51B19C;
	float: left;
}


.cc-brand {
	width: 114px;
	height: 70px;
	display: table;
	vertical-align: middle;
	text-align: center;
	cursor: move;
	margin: 0 10px 10px 0;
	float: left;
	border: 1px solid #e3e3e3;
	background: #fff;
	border-radius: 4px;
}

.cc-brand > div
{
	height: 60px;
	padding: 5px;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
}

.cc-brand img
{
	display: inline;
	max-height: 60px;
}


#payback_interval input, #payback_interval select
{
	width: 90px !important;
}

.categoryAdd, .categoryDelete, .imageDelete, .codeDelete {
	cursor: pointer;
}

#categoryTemplate, #permissionTemplate, .permissionTemplate, #tag_template, #permissionCMSTemplate, #permissionFrontTemplate {
	display: none;
}


#file_upload {
	display: inline-block;
}

.imageContainer.well.well-small {
	display: table;
	width: 155px;
	height: 120px;
	text-align: center;
	vertical-align: middle;
	float: left;
	margin: 0 5px 5px 0;
	position: relative;
}

.imageContainer .imageDelete
{
	text-decoration: none;
	position: absolute;
	top: 0;
	right: 2px;
}

.imageContainer > div
{
	width: 155px;
	height: 120px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.imageContainer img
{
	max-width: 100%;
	max-height: 100%;
}

.cover-image
{
	max-height: 200px;
	max-width: 100%;
}

#codes_list
{
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-bottom: 0;
}

#loader
{
	display: none;
}


.category-icon-regular {
	 background-color: #51B19C;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    height: 54px;
    text-shadow: none;
    width: 54px;
}

.category-icon-mini {
	 background-color: #86C3B6;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    text-shadow: none;
    vertical-align: middle;
}

/*
paginator
*/

.paginator {
    height: 20px;
    margin: 5px 20px 5px 0px;
    font-size:15px;
}

.paginator.right {
    float: right;
    margin: 5px 0px 5px 20px;
}

.paginator span {
   display:inline-block;
   float:left;
   line-height: 20px;
}

.paginator.right span {
   float:right;
}

.paginator span.title {
   line-height: 20px;
   padding-left:5px;
   padding-right:5px;
   height:20px;
   text-align:center;
   font-size:15px;
}

.paginator a {
   line-height: 20px;
   display:inline-block;
   float:left;
   padding-left:5px;
   padding-right:5px;
   height: 20px;
   color: #4D4D4D;
   text-align:center;
   font-weight: normal;
   text-decoration:none;
}

.paginator.right a {
    float:right;
}

.paginator a.active, .paginator a:hover {
   background-color: rgb(75,75,75);
   font-weight: normal;
   color: white;
}

/*
zmiany dla kalkulatora
*/ 

body
{
	margin: 0px;
    background: #F2F2F2;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

header {
    background:white;
    box-sizing: border-box;
    padding:20px;
    width:100%;
    border-bottom:1px solid rgba(51,51,51,0.1);
}

#logo {
    display:inline;
	float: left;
}

#logo a {
    background:url(/web/admin/images/logo.png) no-repeat left 8px;
    padding-left: 226px;
    
	display:inline-block;
    color:black;
    font-size:48px;
    line-height:48px;
    height:48px;
    letter-spacing:-0.02em;
}

#logo a:hover {
    text-decoration:none;
}

.container {
    margin:30px 0;
    width:100%;
}

.innerContainer {
    background: white;
    margin:0 auto;
    border:1px solid rgba(51,51,51,0.1);
}

.container-800 {
    max-width:800px;
    padding:20px;
}

.container-1000 {
    max-width:1000px;
    padding:20px;
}

.container-1200 {
    max-width:1200px;
    padding:20px;
}

.container-1600 {
    max-width:1600px;
    padding:20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #53a318;
    letter-spacing:-0.02em;
}   

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color:black;
}

.automargin {
    margin-left:auto;
    margin-right:auto;
    float:none;
}

.row {
    margin-left:-2%;
}

.span1 {
    width:100%;
}

.span2 {
    width: 48%;
    margin-left:2%;
}

.span3 {
    width: 31%;
    margin-left:2%;
}

.span4 {
    width: 24%;
    margin-left:2%;
}

.spanfull {
    margin-left:20px;
}

.spanfull .span-sixth {
    width:16%;
    margin:0;
    margin-right: 0.6%;
}

.span-third {
    width:32%;
    margin:0;
    margin-right:2%;
}

.span-third.odd {
    margin-right:0%;
}

.spanfull .span-two-sixths {
    width:32.6%;
    margin:0;
    margin-right: 0.6%;
}

.btn {
    box-shadow:none;
}

.btn-large {
    font-size: 17.5px;
    padding: 5px 30px;
    
    border: 2px solid rgb(83, 163, 24);
    border-radius: 5px;
    transition: all 0.2s ease-in-out 0s;
}

.btn-primary {
    border: 2px solid rgb(83, 163, 24);
    background: white;
    color: rgb(83, 163, 24);
    text-shadow:none;
}

.btn-primary:hover {
    color:white;
    background:rgb(83, 163, 24);
}

#menu {
    margin-right:20px;
}

.navbar {
    margin:0;
}

.navbar-inner {
    padding-right:10px;
}

#menu .dropdown-menu {
    left:auto;
    right:0px;
    text-align:center;
}

.navbar .nav > li > .dropdown-menu::before {
    left:auto;
    right:9px;
}

.navbar .nav > li > .dropdown-menu::after {
    left:auto;
    right:10px;
}

ul.navi-second {
    list-style-type:none;
    float:right;
    height:40px;
}

ul.navi-second > li {
    display:inline-block;
    margin-right:30px;
}

ul.navi-second > li a {
    font-size:20px;
    font-weight:bold;
    line-height:40px;
    color:black;
    transition: all 0.3s ease 0s;
}

ul.navi-second > li > a:hover {
    text-decoration:none;
    color:rgb(83, 163, 24);
}

.dropdown .caret {
    margin-top:18px;
}

legend {
    font-size:16px;
    line-height:1.4em;
    margin-bottom:10px;
    height:25px;
}

.control-group.inlineblock.line-bottom {
    padding:10px 0 10px;
    border-bottom:1px solid #e5e5e5;
}

.control-group.inlineblock label.control-label {
    width:auto;
    display:inline-block;
    margin-left:5px;
}

.control-group.inlineblock label.control-label input[type="radio"] {
    margin:0;
}

.control-group.inlineblock input[type="text"],
.control-group.inlineblock textarea {
    float:left;
    width:50px;
    margin-left:5px;
} 

.cloneBase {
    display:none;
}

.instrumentVariantTypeWrapper {
    display:none;
}

.optionWrapper {
    position:relative;
}

.optionWrapper .message {
    display:none;
    cursor:pointer;
    top:0px;
    left:160px;
    position:absolute;
    z-index:10;
    min-width:200px;
}

.optionWrapper .message span.error {
    display:block;
    padding:5px;
    background:red;
    color:white;
}

.optionWrapper .message span.notice {
    display:block;
    padding:5px;
    background:blue;
    color:white;
}

.optionsRow .control-group,
.summaryRow .control-group {
    margin-bottom:5px;
    display:block;
    text-align:center;
}

.optionsRow .control-group label,
.summaryRow .control-group label {
    padding-top:0px;
    float:right;
    display:inline-block;
    width:auto;
    text-align:right;
    padding:5px 5px;
    margin:0;
}

.optionsRow .control-group label.highlight {
    background:#ccc;
}

.optionsRow .control-group label.floatnone {
    float:none;
}

.optionsRow .optionWrapper input,
.summaryRow .summaryWrapper input {
    width:100px;
    text-align:center;
}

.optionsRow .optionWrapper input.error {
    color:red;
}

.optionsRow .optionWrapper input.disabled,
.summaryRow input.disabled {
    background:white;
    border:1px solid white;
    box-shadow:none;
}

.optionsRow .hiddenOption {
    display:none;
}

.btn-fixed {
    position:fixed;
    left:10px;
    bottom:10px;
    font-size:30px;
    line-height:50px;
}

ul.offerNavi {
    list-style-type:none;
    text-align:center;
    margin:0;
}

ul.offerNavi li {
    display:inline-block;
    color: black;
}

.offerNaviLink {
    background-color: transparent;
    border: 2px solid rgb(83, 163, 24);
    border-radius: 5px;
    color: rgb(83, 163, 24) !important;
    font-size: 12.8px;
    line-height: 21.55px;
    font-weight: normal;
    padding: 2px 4px;
    margin:0 3px;
    transition: all 0.2s ease-in-out 0s;
}

.offerNaviLink:hover {
    background-color: rgb(83, 163, 24);
    color: white !important;
    text-decoration:none;
}

.print-only {
    display:none;
}

table td.green,
table th.green {
    background: #53a318 !important;
    color:white;
    text-transform:uppercase;
    font-weight:bold;
}

.optionsRow .control-group.hidden-section,
.summaryRow .control-group.hidden-section {
    display:none;
}   

.city-row {
    display:none;
}

.city-row .first-cell {
    text-align:right;
}

.graphic {
    max-width:100%;
    height:auto;
    padding-bottom:20px;
    margin-bottom:20px;
    border-bottom:1px solid rgba(51,51,51,0.1);
}

.graphic.noBorder {
    padding:0;
    margin:0;
    border-bottom-width:0;
}

.optionsRow .control-group label.optionName {
    text-align:center;
    width:100%;
}

.optionsRow .control-group label.optionName span {
    display:inline-block;
    width:80%;
    height:20px;
    overflow:hidden;
    text-overflow:ellipsis;
    vertical-align:middle;
    white-space: nowrap; 
}

.optionsRow .control-group label.optionName span:hover {
    overflow:visible;
    height:auto;
    text-overflow:clip;
    white-space:normal;
}

.optionsRow .control-group label.optionName textarea {
    height:20px;
    width:80%;
    display:none;
}

.table .optionsHeaderCell {
    text-align:center;
    font-weight:bold;
}

.table .optionsNameCell {
    /*border-top: 3px solid #dddddd;*/
    background: #f9f9f9 !important;
    text-align:center;
}

.table .white {
    background:white !important;
}

.table .textright {
    text-align:right;
}

.table .textcenter {
    text-align:center;
}

.table .paddingsmall {
    padding:3px;
}

label.inlineLabel {
    display:inline-block;
}

a.googleLogin {
    display:block;
    width:200px;
    margin:0 auto 20px;
}

h5.loginPageSeparator {
    margin:0 auto 20px;
    text-align: center;
    
    overflow:hidden;
}

h5.loginPageSeparator span {
  display: inline-block;
  position: relative;  
  
}
h5.loginPageSeparator span:before,
h5.loginPageSeparator span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 1px solid #53a318;
  top: 9px;
  width: 600px;
}
h5.loginPageSeparator span:before {
  right: 100%;
  margin-right: 15px;
}
h5.loginPageSeparator span:after {
  left: 100%;
  margin-left: 15px;
}

.loginButtons input, .loginButtons button {
    display:block;
    margin:0 auto 20px;
}

a.faqLink {
    border-radius:10px;
    background: #53a318;
    display:inline-block;
    padding:3px;
    color:white;
    border:1px solid #53a318;
    width:10px;
    height:10px;
    line-height:10px;
    font-weight:bold;
    text-align:center;
    margin-left:10px;
    text-decoration:none;
}

a.faqLink:hover {
    background: white;
    color:#53a318;
    text-decoration:none;
}

.faqHeader {
    color: #333333;
    font-weight:normal;
    padding-bottom: 9px;
    margin: 0 0 30px;
    border-bottom: 1px solid #eeeeee;
}

.mrgbottom30 {
    margin-bottom: 30px;
}

.mrgbottom50 {
    margin-bottom: 50px;
}

.print-only {
    display:none;
}

/*
CKEDITOR styles
*/

.wysiwyg h1, 
.wysiwyg h2, 
.wysiwyg h3, 
.wysiwyg h4, 
.wysiwyg h5, 
.wysiwyg h6 {
    color: #53a318;
    letter-spacing: -0.02em;
    margin: 10px 0;
    font-weight:bold;
    line-height: 20px;
}

.wysiwyg h1, 
.wysiwyg h2, 
.wysiwyg h3 {
    line-height: 40px;
}

.wysiwyg h1 {
    font-size: 31.5px;
}

.wysiwyg h3 {
    font-size: 24.5px;
}

.wysiwyg h4 {
    font-size: 17.5px;
}

.wysiwyg h5 {
    font-size: 14px;
}

.wysiwyg h6 {
    font-size: 11.9px;
}

.wysiwyg p, 
.wysiwyg li {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    padding:0;
    margin: 0 0 10px;
}

.wysiwyg p a, 
.wysiwyg li a,
.wysiwyg h1 a,
.wysiwyg h3 a,
.wysiwyg h4 a,
.wysiwyg h5 a,
.wysiwyg h6 a {
    color: #0088cc;
    font-weight:normal;
    text-decoration: none;
}

.wysiwyg p a:hover, 
.wysiwyg li a:hover,
.wysiwyg h1 a:hover,
.wysiwyg h3 a:hover,
.wysiwyg h4 a:hover,
.wysiwyg h5 a:hover,
.wysiwyg h6 a:hover {
    text-decoration: underline;
}

.wysiwyg ul {
    padding: 0;
    margin: 0 0 10px 25px;
}

.wysiwyg ol {
    list-style-type: decimal;
    padding: 0;
    margin: 0 0 10px 25px;
}

.wysiwyg .videodetector {
    position      : relative;
    width         : 100%;
    height        : 0;
    padding-bottom: 60%;
}

.wysiwyg .videodetector iframe {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
}

.wysiwyg img {
    max-width:100%;
    height:auto;
}