/*
Copyright (c) 2003-2009, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/

body
{
    /* Font */
    font-family: "Open Sans", Arial, Helvetica, sans-serif;

    font-size: 14px;
    line-height: 20px;
    color: #333333;

    /* Remove the background color to make it transparent */
    background-color: white;
}

html
{
    /* #3658: [IE6] Editor document has horizontal scrollbar on long lines
    To prevent this misbehavior, we show the scrollbar always */
    _overflow-y: scroll
}

img:-moz-broken
{
    -moz-force-broken-image-icon : 1;
    width : 24px;
    height : 24px;
}
img, input, textarea
{
    cursor: default;
}

/* 
style na strone
*/

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    color: #53a318;
    letter-spacing: -0.02em;
    margin: 10px 0;
    font-weight:bold;
    line-height: 20px;
}

h1, 
h2, 
h3 {
    line-height: 40px;
}

h1 {
    font-size: 31.5px;
}

h3 {
    font-size: 24.5px;
}

h4 {
    font-size: 17.5px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 11.9px;
}

p, 
li {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    padding:0;
    margin: 0 0 10px;
}

p a, 
li a,
h1 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #0088cc;
    font-weight:normal;
    text-decoration: none;
}

p a:hover, 
li a:hover,
h1 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    text-decoration: underline;
}

ul {
    padding: 0;
    margin: 0 0 10px 25px;
}

ol {
    list-style-type: decimal;
    padding: 0;
    margin: 0 0 10px 25px;
}

.videodetector {
    position      : relative;
    width         : 100%;
    height        : 0;
    padding-bottom: 60%;
}

.videodetector iframe {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
}

img {
    max-width:100%;
    height:auto;
}