<div class="innerContainer container-800">
    <div class="page-header">
    	<h2>GROUPON <small>Zaloguj się do systemu</small></h2>
    </div>
    
    <?php echo Log::wypisz(); ?>
    
    <form method="post" class="form-horizontal">
    <div class="row">
    	<div class="span6 automargin">
            <a class="googleLogin btn btn-primary" href="<?= $googleAuthUrl ?>">Zaloguj się poprzez Google</a>
            <h5 class="loginPageSeparator"><span> lub podaj login i hasło </span></h5>
    		<fieldset class="loginButtons">
    
    			<input type="text" id="login" name="Login[login]" placeholder="Login" value="<?= $login ?>">
              	<input type="password" id="password" name="Login[haslo]" placeholder="Hasło" value="">
    	
    			<button class="btn btn-primary btn-large" name="save" type="submit">Zaloguj</button>
    		</fieldset>
    	</div>
    </div>
</div>
