
<ul class="navi-second">
    <li><a href="/offers">Oferty</a></li> 
    <li><a href="/subscriber">Subskrybent</a></li>
    <li><a href="/campaign_creator">Kreator kampanii</a></li> 
    <?php
    if (
        Admin::czyMoze(SettingsController::PRV_EDIT)
    ): ?>
    
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ustawienia <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="/cities">Lista miast</a></li>
            <li><a href="/categories">Lista branż</a></li>
            <li><a href="/instruments">Lista instrumentów</a></li>
        </ul>
    </li>
    
    <?php
    endif; ?>
    
    <?php
    if (
        Admin::czyMoze(admin_usersController::PRV_EDIT)
    ): ?>
    
    <li><a href="/admin_users">Użytkownicy</a></li>
    <?php
    endif; ?>
</ul>
