<div class="innerContainer container-800">
    <div class="page-header">
    	<h2>Instrument <small>Szczegóły</small>
    		<a href="/instruments" class="btn pull-right"><i class="icon-chevron-left"></i> Wróć do listy</a></p>
    	</h2>
    </div>

    <?php echo Log::wypisz(); ?>
    
    <div class="clearfix"></div>

    <div class="row">
    <form method="post" class="form-horizontal">
    <div class="span8 automargin">
		<fieldset>
  		    <div class="control-group">
     		    <label class="control-label">Nazwa:</label>
     		    <div class="controls">
     			    <input type="text" name="Edit[name]" placeholder="Nazwa" style="width:300px" value="<?php echo $model->data['name']; ?>">
     		    </div>
     	    </div>
            <div class="control-group">
     		    <label class="control-label">Typ:</label>
     		    <div class="controls">
     			    <label>
                        <input type="radio" class="instrumentVariantTypeRadio" name="Edit[type]" value="<?= $model::TYPE_STANDARD ?>" <?= empty($model->data[type]) || $model->data[type]==$model::TYPE_STANDARD ? 'checked="checked"' : ''?>> bez wariantów
                    </label>
                    <label>
                        <input type="radio" class="instrumentVariantTypeRadio" name="Edit[type]" value="<?= $model::TYPE_VARIANTS ?>" <?= $model->data[type]==$model::TYPE_VARIANTS ? 'checked="checked"' : ''?>> z wariantami
                    </label>
                    <label>
                        <input type="radio" class="instrumentVariantTypeRadio" name="Edit[type]" value="<?= $model::TYPE_CITIES ?>" <?= $model->data[type]==$model::TYPE_CITIES ? 'checked="checked"' : ''?>> zależny od miast
                    </label>
     		    </div>
     	    </div>
            <div class="control-group">
     		    <label class="control-label">Okres trwania:</label>
     		    <div class="controls">
     			    <label>
                        <input type="radio" name="Edit[duration_type]" value="<?= $model::DURATION_ONE_TIME ?>" <?= empty($model->data[duration_type]) || $model->data[duration_type]==$model::DURATION_ONE_TIME ? 'checked="checked"' : ''?>> jednorazowy
                    </label>
                    <label>
                        <input type="radio" name="Edit[duration_type]" value="<?= $model::DURATION_IN_DAYS ?>" <?= $model->data[duration_type]==$model::DURATION_IN_DAYS ? 'checked="checked"' : ''?>> w dniach
                    </label>
                    <label>
                        <input type="radio" name="Edit[duration_type]" value="<?= $model::DURATION_IN_WEEKS ?>" <?= $model->data[duration_type]==$model::DURATION_IN_WEEKS ? 'checked="checked"' : ''?>> w tygodniach
                    </label>
     		    </div>
     	    </div>
        </fieldset>
        <fieldset class="instrumentVariantTypeWrapper instrumentVariantTypeStandard">
            <div class="control-group">
     		    <label class="control-label">Koszt:</label>
     		    <div class="controls">
     			    <input type="text" name="Edit[data][price]" placeholder="Koszt" style="width:100px" value="<?php echo $model->data['data']['price']; ?>">
     		    </div>
     	    </div>
            <div class="control-group">
     		    <label class="control-label">Zasięg:</label>
     		    <div class="controls">
     			    <input type="text" name="Edit[data][range]" placeholder="Zasięg" style="width:300px" value="<?php echo $model->data['data']['range']; ?>">
     		    </div>
     	    </div>
        </fieldset>
        <fieldset class="instrumentVariantTypeWrapper instrumentVariantTypeVariants">
            <legend>Warianty <a href="javascript:;" class="cloneElement">[+]</a></legend>
            <div class="control-group">
     		    <label class="control-label">Wybór ilości:</label>
     		    <div class="controls">
                    <label>
     			        <input type="radio" name="Edit[data][canSelectNumberOf]" value="1"<?= $model->data['data']['canSelectNumberOf']==1 ? ' checked=\"checked\"' : '' ?>>
                        tak
                    </label>
                    <label>
     			        <input type="radio" name="Edit[data][canSelectNumberOf]" value="0"<?= $model->data['data']['canSelectNumberOf']==0 ? ' checked=\"checked\"' : '' ?>>
                        nie
                    </label>
     		    </div>
     	    </div>
            <div class="clonedElementsWrapper">
            <?php
            $list = $model->data['data']['variants'];
            $list['cloneTemplate'] = array();
            foreach ($list as $id=>$w): ?>
                <div class="control-group inlineblock line-bottom clonedElement <?= $id==='cloneTemplate' ? 'cloneBase' : ''?>">
                    <a href="javascript:;" class="removeClonedElement pull-right">[usuń]</a>
                    <label class="control-label">Nazwa:</label>
                    <input type="text" name="Edit[data][variants][<?= $id ?>][name]" placeholder="Nazwa wariantu" style="width:300px" value="<?php echo $w[name]; ?>">
                    <div class="clearfix"><br><br></div>
         		    <label class="control-label">Koszt: </label>
                    <input type="text" name="Edit[data][variants][<?= $id ?>][price]" value="<?= $w[price] ?>" style="width:60px">
         		    <label class="control-label">Zasięg: </label>
                    <input type="text" name="Edit[data][variants][<?= $id ?>][range]" value="<?= $w[range] ?>" style="width:150px">
         	    </div>
            <?php
            endforeach; ?>
            </div>
        </fieldset>
        
        <fieldset class="instrumentVariantTypeWrapper instrumentVariantTypeCities">
            <legend>Miasta</legend>
            <div class="control-group">
     		    <label class="control-label">Wybór ilości:</label>
     		    <div class="controls">
                    <label>
     			        <input type="radio" name="Edit[data][canSelectNumberOf]" value="1"<?= $model->data['data']['canSelectNumberOf']==1 ? ' checked=\"checked\"' : '' ?>>
                        tak
                    </label>
                    <label>
     			        <input type="radio" name="Edit[data][canSelectNumberOf]" value="0"<?= $model->data['data']['canSelectNumberOf']==0 ? ' checked=\"checked\"' : '' ?>>
                        nie
                    </label>
     		    </div>
     	    </div>
            <table class="table table-striped table-bordered table-hover">
                <thead>
            	    <tr>
            		    <th>Miasto</th>
                        <th>Koszt</th>
                        <th>Zasięg</th>
            	    </tr>
                </thead>
                <tbody>
                    
            <?php
            foreach ($cities as $city): ?>
                    <tr>
                        <td><?= $city->data['name'] ?></td>
                        <td class="text-center">
                            <input type="text" name="Edit[data][cities][<?= $city->id ?>][price]" value="<?= $model->data['data']['cities'][$city->id][price] ?>" style="width:60px">
                        </td>
                        <td class="text-center">
                            <input type="text" name="Edit[data][cities][<?= $city->id ?>][range]" value="<?= $model->data['data']['cities'][$city->id][range] ?>" style="width:150px">
                        </td>
                    </tr>
            <?php
            endforeach; ?>
                </tbody>
            </table>
        </fieldset>
        
        <fieldset class="wide">
            <legend>Opis do FAQ</legend>
            <div class="control-group">
                <textarea class="smallCkeeditor" name="Edit[faq]" placeholder="Opis do FAQ"><?= $model->data['faq']; ?></textarea>
            </div>
        </fieldset>
        
        <fieldset>
            <div class="control-group">
			    <div class="controls">
				    <button class="btn btn-primary btn-large" name="save" type="submit">Zapisz</button>&nbsp;&nbsp;&nbsp;<img id="loader" src="/web/admin/images/loader.gif">
			    </div>
		    </div>
            
	    </fieldset>
    </div>
    </form>
</div>
