<div class="innerContainer container-800">
    <div class="page-header">
    	<h2>
          Instrumenty <small>Lista</small>
          <a href="/instruments/add" class="btn pull-right"> Dodaj nowy instrument</a></p>
    	</h2>
        
    </div>
    
    <?php echo \Log::wypisz(); ?>
    
    <!--
    <form action="/clients/search" method="post" class="">
    	<div class="row">
    		<div class="span4">
    			<label>Nazwa firmy:</label>
    			<input type="text" class="input-block-level" id="Search[name]" name="Search[name]" placeholder="Nazwa firmy" value="<?php echo $search['name']; ?>">
    		</div>
    		<div class="span3 text-right">
    			<label style="display:block;">&nbsp;</label>
    			<a href="/clients/search_reset" class="btn"><i class="icon-remove"></i> Zresetuj</a>&nbsp;&nbsp;&nbsp;
    			<button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i> Szukaj</button>
    		</div>
    	</div>
    </form>
    -->
    
    <?php
    if ($list !== NULL && !empty($list->data['elements'])): ?>
    <table class="table table-striped table-bordered table-hover">
        <thead>
    	    <tr>
    		    <th>&nbsp;</th>
                <th>Akcje</th>
    	    </tr>
        </thead>
        <tbody>
    	    <?php foreach($list->data['elements'] as $id => $element): ?>
    	    <tr>
                <td><?php echo $element->data['name']; ?></td>
    		    
    		    <td class="icons text-center">
                    <a href="/instruments/edit/id:<?= $element->id ?>" title="Edytuj"><i class="icon-edit"></i></a>&nbsp;&nbsp;
    			    <a href="Javascript:confirmDelete('/instruments/delete/id:<?= $element->id ?>');" title="Usuń"><i class="icon-trash"></i></a>
    		    </td>
    	    </tr>
    	    <?php endforeach; ?>
            <?php
            if (empty($list->data['elements'])): ?>
            <tr>
    		    <td colspan=2>
                    Brak instrumentów na liście
                </td>
            </tr>
            <?php
            endif; ?>
        </tbody>
    </table>
    
    <?= $pages ?>
    <div style="clear:both"></div>
    <?php 
    else: ?>
    	<div class="alert alert-info">
    	  <button type="button" class="close" data-dismiss="alert">&times;</button>
    	  <strong>Informacja:</strong> Brak instrumentów do wyświetlenia.
    	</div>
    <?php 
    endif; ?>
</div>
